{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block content %}


    <!-- Product Shop Section Begin -->

                        <h4 class="fw-title">Color</h4>
                        <div class="fw-color-choose">
                        {% for color in colors %}
                            <div class="cs-item">
                                <input type="radio" id="cs-#{ color.name }">
                                <label class="cs-#{ color.name }" for="cs-#{ color.name }">{{ color.name }}</label>
                            </div>

                        {% endfor %}
                            {# <div class="cs-item">
                                <input type="radio" id="cs-violet">
                                <label class="cs-violet" for="cs-violet">Violet</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-blue">
                                <label class="cs-blue" for="cs-blue">Blue</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-yellow">
                                <label class="cs-yellow" for="cs-yellow">Yellow</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-red">
                                <label class="cs-red" for="cs-red">Red</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-green">
                                <label class="cs-green" for="cs-green">Green</label>
                            </div> #}
                        </div>
 
    <!-- Product Shop Section End -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}